{% extends 'washing_service/base.html' %}
{% load static %}

{% block title %}
    <title>Information About Washers </title>
{% endblock %}

{% block imports %}
    <link rel="stylesheet" href="{% static 'washing_service/css/tabs.css' %}" />
{% endblock %}

{% block body %}
<div class="wrapper">
  {% for items, value in washers.items %}
      <div class="tabs">
        <div class="tab">
          <input type="radio" name="css-tabs{{ value.0 }}" id="overall-tab{{ value.0 }}" checked class="tab-switch">
          <label for="overall-tab{{ value.0 }}" class="tab-label">Overall</label>
          <div class="tab-content"> {{ items }} is one of our washers!
          {% if value.1 %} He{% else %} She{% endif %} is working on {{ value.2 }}.
          {% if value.1 %} His{% else %} Her{% endif %} overall income is
          <b>{{ value.3 }} GEL</b>. </div>
        </div>
        <div class="tab">
          <input type="radio" name="css-tabs{{ value.0 }}" id="year-tab{{ value.0 }}" class="tab-switch">
          <label for="year-tab{{ value.0 }}" class="tab-label">Current Year</label>
          <div class="tab-content"> {{ items }} is one of our washers!
          {% if value.1 %} He{% else %} She{% endif %} is working on {{ value.2 }}.
          In the current year, {% if value.1 %} he{% else %} she{% endif %} earned
          <b>{{ value.4 }} GEL</b>. </div>
        </div>
        <div class="tab">
          <input type="radio" name="css-tabs{{ value.0 }}" id="month-tab{{ value.0 }}" class="tab-switch">
          <label for="month-tab{{ value.0 }}" class="tab-label">Current Month</label>
          <div class="tab-content"> {{ items }} is one of our washers!
          {% if value.1 %} He{% else %} She{% endif %} is working on {{ value.2 }}.
          In the current month, {% if value.1 %} he{% else %} she{% endif %} earned
          <b>{{ value.5 }} GEL</b>. </div>
        </div>
        <div class="tab">
          <input type="radio" name="css-tabs{{ value.0 }}" id="week-tab{{ value.0 }}" class="tab-switch">
          <label for="week-tab{{ value.0 }}" class="tab-label">Current Week</label>
          <div class="tab-content"> {{ items }} is one of our washers!
          {% if value.1 %} He{% else %} She{% endif %} is working on {{ value.2 }}.
          In the current week, {% if value.1 %} he{% else %} she{% endif %} earned
              <b>{{ value.6 }} GEL</b>. </div>
        </div>

      </div>
 {% endfor %}
</div>


{% endblock %}