{% extends 'users/password/password-base.html' %}

{% block body %}
    <div class="container 50%" style="margin-top: 30px; margin-bottom: 30px">
        <h2>Password reset sent</h2>
        <p class="my-3 lead">
            We’ve emailed you instructions for setting your password
            if an account exists with the email you entered.
            You should receive them shortly.
        </p>
        <p class="lead">
            If you don’t receive an email, please make sure you’ve entered
            the address you registered with, and check your spam folder.
        </p>
    </div>
{% endblock %}