{% extends 'users/password/password-base.html' %}
{% load crispy_forms_filters %}

{% block body %}
    <div class="container 50%" style="margin-top: 30px; margin-bottom: 30px">
    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Change Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
    {% else %}
        <h2>Password reset unsuccessful</h2>
        <p class="my-3 lead">
            The password reset link was invalid, possibly because it has
            already been used. Please request a new password reset.
        </p>
    {% endif %}
    </div>
{% endblock %}