{% load static %}
{% load word_index %}

<!DOCTYPE HTML>
<html>
	<head>
        {% block title %}
            <title>Password Reset</title>
        {% endblock %}
        <link rel="icon" href="{% static 'washing_service/images/icons/favicon.png' %}">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'washing_service/css/main.css' %}" />

        <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'washing_service/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'washing_service/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'washing_service/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'washing_service/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'washing_service/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'washing_service/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'washing_service/css/mainform.css' %}">

        {% block imports %}
        {% endblock %}

	</head>

	<body>

		<!-- Header -->
			<header id="header">
                <a href="{% url 'home' %}" class="logo">Clean Is Sexy</a>
			</header>


       {% block body %}{% endblock %}

		<!-- Scripts -->
			<script src="{% static 'washing_service/js/jquery.min.js' %}"></script>
			<script src="{% static 'washing_service/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'washing_service/js/skel.min.js' %}"></script>
			<script src="{% static 'washing_service/js/utils.js' %}"></script>
			<script src="{% static 'washing_service/js/main.js' %}"></script>

	</body>
</html>